<div class="dropdown-center">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {{ item.title }}
  </button>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="#">{{ item.firstItem }}</a>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <a class="dropdown-item" href="#">{{ item.secondItem }}</a>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <a class="dropdown-item" href="#">{{ item.thirdItem }}</a>
    </li>
  </ul>
</div>
