//-------------------Carousel------------------
.carousel {
  height: fit-content;
  .carousel-item {
    width: 100%;
    .carousel-item__image {
      height: 700px;
    }
  }

  //------------------Carousel caption------------------
  .carousel-caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    width: 55%;
    background-color: rgba(171, 171, 171, 0.749);
    left: 3%;
    bottom: 20%;
    height: 15%;
    border-radius: 15px;

    .carousel-caption__title,
    .carousel-caption__detail {
      color: white;
    }

    .carousel-caption__button--detail {
      background-color: rgb(19, 196, 57);
      border: none;
      .carousel-caption__link {
        text-decoration: none;
        color: white;
      }
      &:hover {
        background-color: rgba(13, 151, 43, 0.677);
      }
    }
  }

  //------------------------Carousel indicator-----------------
  .carousel-indicators {
    .carousel-indicators__circle--outter {
      border-radius: 50%;
      height: 18px;
      width: 18px;
      border: 2px solid white;
      margin: 5px;
      .carousel-indicators__circle--inner {
        position: relative;
        height: 8px;
        width: 8px;
        left: 56%;
        top: 50%;
        transform: translate(-100%, -50%);
      }
    }
  }

  //--------------------Login modal------------------
  #login-modal {
    margin: 0 auto;
    right: 4%;
    bottom: 20%;
    width: 350px;

    .login-modal__link {
      .login-modal__image {
        width: 150px;
      }
    }

    //------------------Username and password input----------
    .input-group {
      width: 85%;

      .input-group-prepend {
        .input-group-prepend__icon-container {
          border-radius: 50% 0 0 50%;
        }
      }

      .input-group-prepend__icon-container {
        border-radius: 0 50% 50% 0;
      }
    }

    .forget-pass-container {
      width: 90%;
      margin: 0 auto;

      .forget-pass__label {
        color: rgb(73, 73, 216);
      }
    }

    .login__button--submit {
      width: 85%;
      background-color: #3dd5f3;
      border: none;
      &:hover {
        background-color: #38bbd6;
      }
    }
    //-----------------QR code-------------------
    .qr-container {
      padding: 20px;

      .qr__image {
        width: 35%;
      }
    }
  }
}

// -------------------Responsive----------------------
@media screen and (max-width: 992px) {
  .carousel {
    .carousel-inner {
      position: relative;

      .carousel-item {
        width: 100%;

        .carousel-item__image {
          height: 750px;
        }
      }

      .carousel-caption {
        width: 100%;
        margin: 10px auto;
        left: 0;
        bottom: 7%;

        .carousel-caption__title,
        .carousel-caption__detail {
          font-size: 15px;
        }
      }
    }

    #login-modal {
      top: 3%;
      margin: 0 auto;
      left: 0;
      right: 0;
      text-align: center;
      height: fit-content;
    }
  }
}

@media screen and (max-width: 768px) {
  .carousel-caption {
    .carousel-caption__icon {
      display: none;
    }
  }
}
