// ------------------Navbar--------------------
nav {
  background-color: white;
  height: auto;
  z-index: 100;
  width: 90%;
  margin: 0 auto;

  //--------------------Navbar logo------------------
  .navbar__logo-container {
    margin-right: 10%;

    .navbar__logo {
      height: 45px;
    }
  }

  //--------------------NavBar menu---------------------
  .navbar-middle {
    display: flex;
    justify-content: space-between;

    .nav-link {
      font-family: IBMBold, sans-serif;
      color: #1b75d0;
    }
  }

  // ------------------Navbar right---------------------
  .navbar-right {
    .navbar-right__phone {
      border: #1b75d0 1px solid;
      border-radius: 20px;
      font-style: italic;
      font-family: IBMItalic, sans-serif;
      .nav-link{
        color: #1b75d0;
        
      }

      .navbar-right__icon--phone {
        color: #1b75d0;
      }
    }

    .navbar-right__language {
      font-family: IBMRegular, sans-serif;

      .navbar-right__icon--language {
        color: yellow;
        background-color: red;
        font-size: 13px;
        padding: 3px;
        border-radius: 50%;
        margin-right: 5px;
      }
      .nav-link{
        .dropdown-item {
          .dropdown-item__image {
            width: 25px;
            margin-right: 5px;
          }
        }
      }

      .dropdown-item {
        .dropdown-item__image {
          width: 25px;
          margin-right: 5px;
        }
      }
    }
  }
}
// ---------------------------Responsive--------------------
@media screen and (max-width: 1200px) {
  .navbar-middle {
    width: 100%;
  }
  .navbar-right {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    .navbar__logo-container {
      margin-right: 5%;
    }
  }
}

@media screen and (max-width: 992px) {
  nav {
    .navbar-nav {
      .nav-item {
        justify-content: center;
        border: none;
        .nav-link {
          text-align: center;
        }
      }
    }

    .navbar-right {
      .navbar-right__item {
        border: 0;
      }
    }
  }
}
