nav {
  background-color: white;
  height: auto;
  z-index: 100;
  width: 100%;

  .navbar__logo-container{
    .navbar__logo {
      height: 65px;
    }
  }

  .navbar-middle {
    display: flex;
    justify-content: space-between;
  }
  .navbar-right {
    .navbar-right__item {
      border: black 1px solid;
      border-radius: 20px;

      .navbar-right__icon--phone {
        color: #1b75d0;
      }
    }

    .navbar-right__icon--language {
      color: yellow;
      background-color: red;
      font-size: 13px;
      padding: 3px;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .navbar-middle {
    width: 100%;
  }
  .navbar-right {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 992px) {
  nav {
    .navbar-nav {
      .nav-item {
        justify-content: center;
        border: none;
        .nav-link {
          text-align: center;
        }
      }
    }
    .navbar-right {
      .navbar-right__item {
        border: 0;
      }
    }
  }
}