<div class="modal" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ isCreateCheck ? "Tạo mới người dùng" : "Chỉnh sửa người dùng" }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="!isCreateCheck ? updateForm : createForm"
        method="post"
      >
        <div
          *ngFor="
            let item of !isCreateCheck ? labelUpdateItem : labelCreateItem;
            let i = index
          "
          class="form-container"
        >
          <div
            *ngIf="i != 2 && i != 3 && i != 7 && i != 8"
            class="form-control"
          >
            <label for="{{ item.type }}Input"
              >{{ item.label
              }}<strong *ngIf="i != 5 && i != 6">*</strong>:</label
            >
            <div class="form-input">
              <input
                [readOnly]="i == 0 && !isCreateCheck"
                type="text"
                [placeholder]="item.inputHolderValue"
                [formControlName]="item.type"
                [value]="!isCreateCheck ? selectedUser[item.type] : ''"
                [ngModel]="selectedUser?.[item.type]"
                name="selectedUser?.[item.type]'"
                ngDefaultControl
                id="{{ item.type }}Input"
              />
              <label *ngIf="f[item.type].errors && isSubmitted && i == 0" for=""
                >Tối đa 50 ký tự không dấu (không ký tự đặc biệt)</label
              >
              <label *ngIf="f[item.type].errors && isSubmitted && i != 0" for=""
                >{{ item.label }} không hợp lệ</label
              >
            </div>
          </div>

          <div *ngIf="i == 2" class="form-control">
            <label for="{{ item.type }}Input"
              >{{ item.label }} <strong>*</strong>:</label
            >
            <div class="form-input">
              <input
                type="date"
                [placeholder]="item.inputHolderValue"
                [formControlName]="item.type"
                [value]="
                  !isCreateCheck ? formatTime(selectedUser[item.type]) : ''
                "
                [ngModel]="
                  !isCreateCheck ? formatTime(selectedUser[item.type]) : ''
                "
                name="selectedUser?.[item.type]'"
                ngDefaultControl
                id="{{ item.type }}Input"
              />
            </div>
          </div>

          <div *ngIf="i == 3" class="form-control">
            <label>{{ item.label }}<strong>*</strong>:</label>
            <div class="dropdown">
              <a
                aria-haspopup="true"
                aria-expanded="false"
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
              >
                {{ setDisplayedGender() }}
              </a>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  (click)="
                    selectedUser
                      ? setGender(updateForm, 1)
                      : setGender(createForm, 1)
                  "
                  >Nam</a
                >
                <a
                  class="dropdown-item"
                  (click)="
                    selectedUser
                      ? setGender(updateForm, 0)
                      : setGender(createForm, 0)
                  "
                  >Nữ</a
                >
              </div>
            </div>
          </div>

          <div *ngIf="i == 7 || i == 8" class="form-control">
            <label for="{{ item.type }}Input"
              >{{ item.label }} <strong>*</strong></label
            >
            <div class="form-input">
              <input
                type="text"
                [placeholder]="item.inputHolderValue"
                [formControlName]="item.type"
                id="{{ item.type }}Input"
              />
              <label
                *ngIf="
                  i == 7 && f[item.type].hasError('required') && isSubmitted
                "
                >Mật khẩu không được để trống</label
              >
              <label
                *ngIf="
                  i == 8 && f[item.type].hasError('required') && isSubmitted
                "
                >Cần xác nhận mật khẩu
                <label *ngIf="createForm.hasError('mismatch')"
                  >Mật khẩu không trùng lặp
                </label></label
              >

              <label *ngIf="f[item.type].errors && isSubmitted && i == 7">
                Mật khẩu tối thiểu 6 ký tự
              </label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="setSubmit()"
          >
            Huỷ
          </button>
          <button
            *ngIf="selectedUser ? updateForm : createForm"
            [attr.data-bs-dismiss]="
              (selectedUser ? updateForm : createForm).valid ? 'modal' : null
            "
            type="submit"
            class="btn btn-primary"
          >
            Lưu
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
