<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ isCreateCheck ? "Tạo mới người dùng" : "Chỉnh sửa người dùng" }}
          <!-- Title of the modal -->
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <!-- Close button for the modal -->
      </div>

      <!-- Form -->
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="!isCreateCheck ? updateForm : createForm"
        method="post"
      >
        <!-- Form Inputs -->
        <div
          *ngFor="
            let item of !isCreateCheck ? labelUpdateItem : labelCreateItem;
            let i = index
          "
          class="form-container"
        >
          <div
            *ngIf="i != 2 && i != 3 && i != 7 && i != 8"
            class="form-control"
          >
            <label for="{{ item.type }}Input">
              {{ item.label }}
              <strong *ngIf="i != 5 && i != 6">*</strong>:
              <!-- Label for the input -->
            </label>
            <div class="form-input">
              <input
                [ngModel]="selectedUser?.[item.type]"
                type="text"
                [placeholder]="item.inputHolderValue"
                [formControlName]="item.type"
                [value]="!isCreateCheck ? selectedUser[item.type] : ''"
                name="selectedUser?.[item.type]'"
                ngDefaultControl
                id="{{ item.type }}Input"
                [attr.disabled]="i == 0 && selectedUser"
              />
              <label
                *ngIf="f[item.type].errors?.pattern && isSubmitted && i == 0"
              >
                Tối đa 50 ký tự không dấu (không ký tự đặc biệt)
              </label>
              <label
                *ngIf="f[item.type].errors?.required && isSubmitted && i == 0"
              >
                Tên đăng nhập không hợp lệ
              </label>
              <label *ngIf="f[item.type].errors && isSubmitted && i != 0">
                {{ item.label }} không hợp lệ
              </label>
              <label
                *ngIf="
                  f[item.type].hasError('existed') && isSubmitted && i == 0
                "
              >
                Tên đăng nhập trùng
              </label>
            </div>
          </div>

          <!-- Date Input -->
          <div *ngIf="i == 2" class="form-control">
            <label for="{{ item.type }}Input">
              {{ item.label }} <strong>*</strong>:
              <!-- Label for the date input -->
            </label>
            <div class="form-input">
              <input
                type="date"
                [placeholder]="item.inputHolderValue"
                [formControlName]="item.type"
                [value]="
                  !isCreateCheck ? formatTime(selectedUser[item.type]) : ''
                "
                [ngModel]="
                  !isCreateCheck ? formatTime(selectedUser[item.type]) : ''
                "
                name="selectedUser?.[item.type]'"
                ngDefaultControl
                id="{{ item.type }}Input"
              />
              <label *ngIf="f[item.type].errors && isSubmitted">
                Tuổi phải trên 18
                <!-- Error message for invalid input -->
              </label>
            </div>
          </div>

          <!-- Gender Dropdown -->
          <div *ngIf="i == 3" class="form-control">
            <label>{{ item.label }}<strong>*</strong>:</label>
            <div class="dropdown">
              <a
                aria-haspopup="true"
                aria-expanded="false"
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
              >
                {{ setDisplayedGender() }}
              </a>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  (click)="
                    selectedUser
                      ? setGender(updateForm, 1)
                      : setGender(createForm, 1)
                  "
                  >Nam</a
                >
                <a
                  class="dropdown-item"
                  (click)="
                    selectedUser
                      ? setGender(updateForm, 0)
                      : setGender(createForm, 0)
                  "
                  >Nữ</a
                >
              </div>
            </div>
          </div>

          <!-- Password Inputs -->

          <div *ngIf="i == 7 || i == 8" class="form-control">
            <label for="{{ item.type }}Input">
              {{ item.label }} <strong>*</strong>
            </label>
            <div class="form-input">
              <div class="input-group">
                <input
                  *ngIf="i == 7"
                  [type]="isShowPassword ? 'text' : 'password'"
                  [placeholder]="item.inputHolderValue"
                  [formControlName]="item.type"
                  [(ngModel)]="password"
                  id="{{ item.type }}Input"
                />
                <input
                  *ngIf="i == 8"
                  [type]="isShowConfirmPassword ? 'text' : 'password'"
                  [placeholder]="item.inputHolderValue"
                  [formControlName]="item.type"
                  [(ngModel)]="confirmPassword"
                  id="{{ item.type }}Input"
                />
                <span
                  *ngIf="i == 7"
                  (click)="tooglePasswordVisible()"
                  class="input-group-text"
                >
                  <i
                    [class]="
                      isShowPassword ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'
                    "
                    id="togglePasword"
                  ></i>
                </span>
                <span
                  *ngIf="i == 8"
                  (click)="toggleConfirmPasswordVisible()"
                  class="input-group-text"
                >
                  <i
                    [class]="
                      isShowConfirmPassword
                        ? 'bi bi-eye-fill'
                        : 'bi bi-eye-slash-fill'
                    "
                    id="togglePasword"
                  ></i>
                </span>
              </div>
              <label
                *ngIf="
                  i == 7 && f[item.type].hasError('required') && isSubmitted
                "
              >
                Mật khẩu không được để trống
                <!-- Error message for empty password field -->
              </label>
              <label
                *ngIf="
                  i == 8 && f[item.type].hasError('required') && isSubmitted
                "
              >
                Cần xác nhận mật khẩu
                <!-- Error message for empty password confirmation field -->
              </label>
              <label *ngIf="createForm.hasError('mismatch') && i == 8 && isSubmitted">
                Mật khẩu không trùng lặp
                <!-- Error message for mismatched passwords -->
              </label>
              <label *ngIf="f[item.type].errors && isSubmitted && i == 7">
                Mật khẩu tối thiểu 6 ký tự
                <!-- Error message for password length requirement -->
              </label>
            </div>
          </div>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="setSubmit()"
          >
            Huỷ
            <!-- Cancel button -->
          </button>
          <button
            *ngIf="selectedUser ? updateForm : createForm"
            [attr.data-bs-dismiss]="
              (selectedUser ? updateForm : createForm).valid ? 'modal' : null
            "
            type="submit"
            class="btn btn-primary"
          >
            Lưu
            <!-- Save button, enabled only if the form is valid -->
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
