<!-- Toast component for displaying messages -->
<app-toast></app-toast>

<!-- Home filter component with search functionality -->
<app-home-filter (handleSearch)="handleSearch($event)"></app-home-filter>

<!-- Button to open modal for creating a new user -->
<div class="form-create">
  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    (click)="createUser()"
  >
    Tạo người dùng
  </button>
</div>

<!-- Table displaying none user -->
<div *ngIf="userList.length === 0" class="empty-list-message mt-4 p-5">
  Không tồn tại người dùng nào.
</div>

<!-- Table displaying user information with various actions -->
<div *ngIf="userList.length > 0" class="table-container">
  <table class="table table-hover mt-4 mb-0">
    <!-- Table header -->
    <thead class="table__head">
      <th>STT</th>
      <th>Chọn</th>
      <th>Tên Công Ty</th>
      <th>Đăng nhập</th>
      <th>Tài khoản</th>
      <th>Họ và tên</th>
      <th>Mã NV</th>
      <th>Kiểu tài khoản</th>
      <th>Ngày đăng nhập gần đây</th>
      <th>Thông tin đăng nhập</th>
      <th>Email</th>
      <th>Điện thoại</th>

      <th>Đổi mật khẩu</th>
      <th>Chỉnh sửa thông tin</th>
      <th>Mở khoá</th>
      <th>Xoá</th>
    </thead>

    <!-- Table body with user data -->
    <tbody class="table__body">
      <tr *ngFor="let item of userList; let i = index" class="table__row">
        <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
            [value]="item.isSelected"
            [checked]="item.isSelected"
            [(ngModel)]="item.isSelected"
            name="selectedUser?.[item.type]'"
            ngDefaultControl
          />
        </td>
        <td><i class="bi bi-box-arrow-in-right"></i></td>
        <td>
          <i
            [class.bi-person-fill--blue]="item.isLog"
            [class.bi-person-fill]="!item.isLog"
          ></i>
        </td>
        <td [ngClass]="{ red: item.isDeleted }">{{ item.userName }}</td>
        <td class="text-start">{{ item.fullName }}</td>
        <td>{{ item.userId }}</td>
        <td>Admin</td>
        <td>{{ item.lastModifyDate }}</td>
        <td>Bình Anh | Samsung</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phoneNumber }}</td>

        <td>
          <i
            class="bi bi-person-lock"
            data-bs-toggle="modal"
            data-bs-target="#changePasswordModal"
            (click)="getSelectedUser(item)"
          ></i>
        </td>
        <td>
          <i
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            class="bi bi-wrench"
            (click)="getSelectedUser(item)"
          ></i>
        </td>
        <td><i class="bi bi-arrow-repeat"></i></td>
        <td
          data-bs-toggle="modal"
          data-bs-target="#confirmDelete"
          (click)="getDeleteUser(item)"
        >
          <i class="bi bi-trash"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Pagination component for navigating through user data -->
<app-pagination
  *ngIf="userList.length > 0"
  (currentPage)="handleCurrentPage($event)"
  (itemsPerPageNumber)="handleItemPerPage($event)"
  [inputPaginationData]="inputPaginationData"
></app-pagination>

<!-- Modal component for user details and creation -->
<app-user-modal
  [selectedUser]="selectedUser"
  [isCreateCheck]="isCreateCheck"
></app-user-modal>

<!-- Modal component for changing user passwords -->
<app-change-password-modal
  [selectedUser]="selectedUser"
></app-change-password-modal>

<!-- Confirm dialog component for user deletion -->
<app-confirm-dialog
  [deleteUser]="handleDeleteUser"
  [getUser]="getUser"
></app-confirm-dialog>
