<div class="dropdown-center">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Chọn thời gian
  </button>

  <ul class="dropdown-menu">
    <li class="d-flex dropdown-menu__date">
      <span
        >Từ ngày
        <input
          type="date"
          [(ngModel)]="startDate"
          (ngModelChange)="onStartDateChange(startDate)"
      /></span>
      <span
        >Đến ngày
        <input
          type="date"
          [(ngModel)]="endDate"
          (ngModelChange)="onEndDateChange(endDate)"
      /></span>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <span class="d-flex dropdown-menu__gender">
        Giới tính:
        <p>
          Nam
          <input
            type="radio"
            name="gender"
            value="male"
            [(ngModel)]="selectedGender"
            (change)="onGenderChange()"
          />
        </p>
        <p>
          Nữ
          <input
            type="radio"
            name="gender"
            value="female"
            [(ngModel)]="selectedGender"
            (change)="onGenderChange()"
          />
        </p>
        <p>
          Tất cả
          <input
            type="radio"
            name="gender"
            value=""
            [(ngModel)]="selectedGender"
            (change)="onGenderChange()"
          />
        </p>
      </span>
    </li>
  </ul>
</div>
