<nav class="bg-secondary-subtle">
  <div class="pagination__left">
    <ul class="pagination pagination-sm py-1 mb-0 me-1">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <i class="bi bi-skip-start-fill"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <i class="bi bi-caret-left-fill"></i>
        </a>
      </li>
      <li class="page-item active" aria-current="page">
        <span class="page-link">1</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <i class="bi bi-caret-right-fill"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <i class="bi bi-skip-end-fill"></i>
        </a>
      </li>
    </ul>
    <div class="btn-group dropdown-center py-1 mb-0">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        10
      </button>
      <ul class="dropdown-menu">
        <li class="page-item">5</li>
        <li class="page-item">10</li>
        <li class="page-item">20</li>
      </ul>
    </div>
  </div>
  <div class="pagination__right d-flex align-items-center">
    <p class="pagination__right--detail py-1 mb-0">
      1 - 20 trên tổng 102 dòng <i class="bi bi-arrow-clockwise"></i>
    </p>
  </div>
</nav>
