<nav class="bg-secondary-subtle">
  <div class="pagination__left">
    <ul class="pagination pagination-sm py-1 mb-0">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <i class="bi bi-skip-start-fill"></i>
        </a>
      </li>
      <li class="page-item" (click)="handlePreviousPage()">
        <a class="page-link" href="#" aria-label="Previous">
          <i class="bi bi-caret-left-fill"></i>
        </a>
      </li>
      <li
        class="page-item"
        *ngFor="let pageNumber of getPages()"
        [class.active]="currentPageIndex === pageNumber"
      >
        <a class="page-link" (click)="changePage(pageNumber)">{{
          pageNumber
        }}</a>
      </li>
      <li class="page-item" (click)="handleNextPage()">
        <a class="page-link" href="#" aria-label="Next">
          <i class="bi bi-caret-right-fill"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <i class="bi bi-skip-end-fill"></i>
        </a>
      </li>
    </ul>
    <div class="btn-group dropdown-center py-1 mb-0">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ itemsPerPage }}
      </button>
      <ul class="dropdown-menu">
        <li class="page-item" (click)="setItemPerPage(5)">5</li>
        <li class="page-item" (click)="setItemPerPage(10)">10</li>
        <li class="page-item" (click)="setItemPerPage(20)">20</li>
      </ul>
      <p>dòng mỗi trang</p>
    </div>
  </div>
  <div class="pagination__right d-flex align-items-center">
    <p class="pagination__right--detail py-1 mb-0">
      {{ (currentPageIndex - 1) * itemsPerPage + 1 }} - {{ indexLastItem }} trên
      tổng {{ totalRow }} dòng
      <i class="bi bi-arrow-clockwise" ></i>
    </p>
  </div>
</nav>
