<!-- Modal for confirming delete action -->
<div class="modal" tabindex="-1" id="confirmDelete">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal header with a confirmation title and close button -->
      <div class="modal-header">
        <h5 class="modal-title">Bạn chắc chắn muốn xoá chứ ?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- Modal footer with 'No' and 'Lưu' (Save) buttons -->
      <div class="modal-footer">
        <button
          data-bs-dismiss="modal"
          type="submit"
          class="btn btn-primary"
          (click)="handleDelete()"
        >
          Lưu
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Không
        </button>
      </div>
    </div>
  </div>
</div>
