<p class="home__heading">DANH SÁCH NGƯỜI DÙNG</p>
<div class="home-filter d-flex">
  <div class="home-filter__left mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nhập tên đăng nhập"
      aria-label="Username"
      [(ngModel)]="inputSearchValue"
    />
    <span class="input-group-text"><i class="bi bi-search"></i></span>
    <app-home-dropdown
      (selectOptionValue)="selectOptionValue = $event"
    ></app-home-dropdown>
  </div>
  <div class="home-filter__right">
    <p class="home-filter__title">Tài khoản không truy cập trong</p>
    <app-user-filter
      (startDateValue)="startDate = $event"
      (endDateValue)="endDate = $event"
      (selectedGenderValue)="(selectedGender)"
    ></app-user-filter>
    <button
      (click)="onSearch()"
      type="button"
      class="home-filter__btn-search btn btn-primary btn-sm"
    >
      <i class="bi bi-search"></i>Tìm kiếm
    </button>
  </div>
</div>
